
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Traversal Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/Traversal-Register/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/Traversal-Register/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <img src="~/Traversal-Register/images/image-1.png" alt="" class="image-1">
            <form method="post">
                <h3>New Account?</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Name" name="Name">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Surname" name="Surname">
                </div> <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Email" name="Email">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Username" name="Username">
                </div>
             
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Password" name="Password">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword">
                </div>
                <button>
                    <span>Register</span>
                </button>
                <a class="btn btn-warning" href="/Login/SignIn/">
                    <span>Log In</span>
                </a>
            </form>
            <img src="~/Traversal-Register/images/image-2.png" alt="" class="image-2">
        </div>

    </div>

    <script src="~/Traversal-Register/js/jquery-3.3.1.min.js"></script>
    <script src="~/Traversal-Register/js/main.js"></script>
</body>
</html>